@font-face {
  font-family: "Carta";
  src:url("CartaNueva-Display.otf") format('woff');
}


a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote,
body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog,
div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form,
header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark,
menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s,
samp, section, small, span, strike, strong, sub, summary, sup, table, tbody,
td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
    color: #000;
    text-decoration: none;
    }

h1, h2, h3, h4, h5, h6 {
    border: 0;
    margin: 0;
    padding: 0;
    font-weight : normal;
    -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
        }

body, html {
  overflow-x: hidden;
  color: #000;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}



img{
  width: 100%;
  background: transparent;
}



h1 {
  font-size: 1.3em;

}

h2 {
  font-family: "carta";
  font-size: 3.5em;
  margin-top: -20px;
}

h2:hover{
  text-shadow: #fff 0 -1px 4px, blue 0 -2px 10px, pink 0 -10px 20px,blueviolet 0 -18px 40px;
}


h3 {
font-size: 12pt;
color: #a7a9ac;
}

.title img{
position: fixed;
width: 100vw;
bottom: 0px;
}

.background img{
  padding-bottom: 20%;
  transition: opacity 8s linear;
  animation-name: load;
  animation-duration: 8s;
}


.email{
  position: fixed;
  float: right;
  top: 0;
  right: 0;
  padding: 4px;
  transition: opacity 1s linear;
  animation-name: load;
  animation-duration: 2s;

}

#email{
  text-indent: -100px;
}

.instagram{
  position: fixed;
  float: right;
  top: 0;
  left: 0;
  padding: 4px;
  transition: opacity 1s linear;
  animation-name: load;
  animation-duration: 2s;

}

#instagram{
  text-indent: 50px;
}

.port{
  position: fixed;
  float: right;
  bottom: 0;
  left:0;
  padding: 4px;
  transition: opacity 1s linear;
  animation-name: load;
  animation-duration: 2s;
}

.copy {
  position: fixed;
  float: right;
  bottom: 0;
  right:0;
  padding: 4px;
  transition: opacity 1s linear;
  animation-name: load;
  animation-duration: 2s;
}


@keyframes load {
  0%   {opacity:0;}
  100% {opacity:1;}

}

